---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=<Weather_API>&q=25.77481,-80.19773
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - MX
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2023 20:43:06
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - fb5cc93bb499106775bc2e3d16d2fc3a
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Miami","region":"Florida","country":"United States
        of America","lat":25.77,"lon":-80.2,"tz_id":"America/New_York","localtime_epoch":1682368986,"localtime":"2023-04-24
        16:43"},"current":{"last_updated_epoch":1682368200,"last_updated":"2023-04-24
        16:30","temp_c":27.8,"temp_f":82.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":140,"wind_dir":"SE","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.1,"precip_in":0.0,"humidity":65,"cloud":75,"feelslike_c":29.6,"feelslike_f":85.3,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":15.9,"gust_kph":25.6},"forecast":{"forecastday":[{"date":"2023-04-24","date_epoch":1682294400,"day":{"maxtemp_c":30.0,"maxtemp_f":86.0,"mintemp_c":25.2,"mintemp_f":77.4,"avgtemp_c":26.5,"avgtemp_f":79.6,"maxwind_mph":13.4,"maxwind_kph":21.6,"totalprecip_mm":12.3,"totalprecip_in":0.48,"totalsnow_cm":0.0,"avgvis_km":9.5,"avgvis_miles":5.0,"avghumidity":65.0,"daily_will_it_rain":1,"daily_chance_of_rain":89,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":6.0},"astro":{"sunrise":"06:50
        AM","sunset":"07:49 PM","moonrise":"10:02 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":"16"},"hour":[{"time_epoch":1682308800,"time":"2023-04-24
        00:00","temp_c":26.1,"temp_f":79.0,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":117,"wind_dir":"ESE","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.3,"precip_in":0.01,"humidity":63,"cloud":70,"feelslike_c":27.5,"feelslike_f":81.5,"windchill_c":26.1,"windchill_f":79.0,"heatindex_c":27.5,"heatindex_f":81.5,"dewpoint_c":18.6,"dewpoint_f":65.5,"will_it_rain":1,"chance_of_rain":71,"will_it_snow":0,"chance_of_snow":0,"vis_km":9.0,"vis_miles":5.0,"gust_mph":7.6,"gust_kph":12.2,"uv":1.0},{"time_epoch":1682312400,"time":"2023-04-24
        01:00","temp_c":26.0,"temp_f":78.8,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":7.2,"wind_kph":11.5,"wind_degree":103,"wind_dir":"ESE","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":0.2,"precip_in":0.01,"humidity":64,"cloud":77,"feelslike_c":27.4,"feelslike_f":81.3,"windc[...]
