---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=cb923b8f31e04a1e8ba173653232104&q=25.77481,-80.19773
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - MX
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2023 12:40:31
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - afc50a715f1768f54c8f64f2a3b99270
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Miami","region":"Florida","country":"United States
        of America","lat":25.77,"lon":-80.2,"tz_id":"America/New_York","localtime_epoch":1682253631,"localtime":"2023-04-23
        8:40"},"current":{"last_updated_epoch":1682253000,"last_updated":"2023-04-23
        08:30","temp_c":23.3,"temp_f":73.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":290,"wind_dir":"WNW","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":0.0,"precip_in":0.0,"humidity":91,"cloud":25,"feelslike_c":25.1,"feelslike_f":77.2,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":9.2,"gust_kph":14.8},"forecast":{"forecastday":[{"date":"2023-04-23","date_epoch":1682208000,"day":{"maxtemp_c":30.1,"maxtemp_f":86.2,"mintemp_c":24.4,"mintemp_f":75.9,"avgtemp_c":26.6,"avgtemp_f":79.9,"maxwind_mph":14.8,"maxwind_kph":23.8,"totalprecip_mm":3.8,"totalprecip_in":0.15,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":61.0,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":6.0},"astro":{"sunrise":"06:51
        AM","sunset":"07:48 PM","moonrise":"09:13 AM","moonset":"11:34 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"9","is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1682222400,"time":"2023-04-23
        00:00","temp_c":26.4,"temp_f":79.5,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":192,"wind_dir":"SSW","pressure_mb":1011.0,"pressure_in":29.87,"precip_mm":0.0,"precip_in":0.0,"humidity":62,"cloud":10,"feelslike_c":27.8,"feelslike_f":82.0,"windchill_c":26.4,"windchill_f":79.5,"heatindex_c":27.8,"heatindex_f":82.0,"dewpoint_c":18.6,"dewpoint_f":65.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":4.5,"gust_kph":7.2,"uv":1.0},{"time_epoch":1682226000,"time":"2023-04-23
        01:00","temp_c":26.1,"temp_f":79.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":234,"wind_dir":"SW","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"humidity":62,"cloud":9,"feelslike_c":27.4,"feelslike_f":81.3,"windchill_c":26.1,"windchill_f"[...]
