---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=<Weather_API>&q=25.77481,-80.19773
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - MX
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2023 14:51:04
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f81bca4c6a6776a3e6c80ea27225a5b4
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Miami","region":"Florida","country":"United States
        of America","lat":25.77,"lon":-80.2,"tz_id":"America/New_York","localtime_epoch":1682347864,"localtime":"2023-04-24
        10:51"},"current":{"last_updated_epoch":1682347500,"last_updated":"2023-04-24
        10:45","temp_c":26.7,"temp_f":80.1,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":140,"wind_dir":"SE","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.4,"precip_in":0.02,"humidity":69,"cloud":100,"feelslike_c":28.4,"feelslike_f":83.1,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":13.4,"gust_kph":21.6},"forecast":{"forecastday":[{"date":"2023-04-24","date_epoch":1682294400,"day":{"maxtemp_c":28.1,"maxtemp_f":82.6,"mintemp_c":25.2,"mintemp_f":77.4,"avgtemp_c":26.2,"avgtemp_f":79.2,"maxwind_mph":13.0,"maxwind_kph":20.9,"totalprecip_mm":11.7,"totalprecip_in":0.46,"totalsnow_cm":0.0,"avgvis_km":9.5,"avgvis_miles":5.0,"avghumidity":65.0,"daily_will_it_rain":1,"daily_chance_of_rain":89,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":6.0},"astro":{"sunrise":"06:50
        AM","sunset":"07:49 PM","moonrise":"10:02 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":"16"},"hour":[{"time_epoch":1682308800,"time":"2023-04-24
        00:00","temp_c":25.7,"temp_f":78.3,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":6.5,"wind_kph":10.4,"wind_degree":111,"wind_dir":"ESE","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.3,"precip_in":0.01,"humidity":66,"cloud":77,"feelslike_c":27.2,"feelslike_f":81.0,"windchill_c":25.7,"windchill_f":78.3,"heatindex_c":27.2,"heatindex_f":81.0,"dewpoint_c":18.8,"dewpoint_f":65.8,"will_it_rain":0,"chance_of_rain":69,"will_it_snow":0,"chance_of_snow":0,"vis_km":9.0,"vis_miles":5.0,"gust_mph":8.7,"gust_kph":14.0,"uv":1.0},{"time_epoch":1682312400,"time":"2023-04-24
        01:00","temp_c":25.7,"temp_f":78.3,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":6.7,"wind_kph":10.8,"wind_degree":103,"wind_dir":"ESE","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.2,"precip_in":0.01,"humidity":65,"cloud":73,"feelslike_c":27.1,"feelslike_f":80.8,"wind[...]
