---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=<Weather_API>&q=25.77481,-80.19773
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - MX
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2023 17:20:48
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 68bacf574ecf6b15a073a0ba655d2601
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Miami","region":"Florida","country":"United States
        of America","lat":25.77,"lon":-80.2,"tz_id":"America/New_York","localtime_epoch":1682270448,"localtime":"2023-04-23
        13:20"},"current":{"last_updated_epoch":1682270100,"last_updated":"2023-04-23
        13:15","temp_c":29.4,"temp_f":84.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":50,"wind_dir":"NE","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.0,"precip_in":0.0,"humidity":55,"cloud":75,"feelslike_c":31.2,"feelslike_f":88.1,"vis_km":16.0,"vis_miles":9.0,"uv":7.0,"gust_mph":8.1,"gust_kph":13.0},"forecast":{"forecastday":[{"date":"2023-04-23","date_epoch":1682208000,"day":{"maxtemp_c":29.1,"maxtemp_f":84.4,"mintemp_c":24.6,"mintemp_f":76.3,"avgtemp_c":26.6,"avgtemp_f":79.9,"maxwind_mph":13.9,"maxwind_kph":22.3,"totalprecip_mm":7.2,"totalprecip_in":0.28,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":63.0,"daily_will_it_rain":1,"daily_chance_of_rain":89,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":6.0},"astro":{"sunrise":"06:51
        AM","sunset":"07:48 PM","moonrise":"09:13 AM","moonset":"11:34 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"9","is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1682222400,"time":"2023-04-23
        00:00","temp_c":26.0,"temp_f":78.8,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":6.5,"wind_kph":10.4,"wind_degree":166,"wind_dir":"SSE","pressure_mb":1011.0,"pressure_in":29.87,"precip_mm":0.0,"precip_in":0.0,"humidity":66,"cloud":7,"feelslike_c":27.5,"feelslike_f":81.5,"windchill_c":26.0,"windchill_f":78.8,"heatindex_c":27.5,"heatindex_f":81.5,"dewpoint_c":19.1,"dewpoint_f":66.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.7,"gust_kph":14.0,"uv":1.0},{"time_epoch":1682226000,"time":"2023-04-23
        01:00","temp_c":25.9,"temp_f":78.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":6.0,"wind_kph":9.7,"wind_degree":182,"wind_dir":"S","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"humidity":66,"cloud":7,"feelslike_c":27.4,"feelslike_f":81.3,"windchill_c":25.9,"windchill_f"[...]
