---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=cb923b8f31e04a1e8ba173653232104&q=25.77481,-80.19773
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - MX
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2023 12:02:34
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 515ca2f69d1523f2fae59c9e3d9c76bb
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Miami","region":"Florida","country":"United States
        of America","lat":25.77,"lon":-80.2,"tz_id":"America/New_York","localtime_epoch":1682164954,"localtime":"2023-04-22
        8:02"},"current":{"last_updated_epoch":1682164800,"last_updated":"2023-04-22
        08:00","temp_c":23.3,"temp_f":73.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":300,"wind_dir":"WNW","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.5,"precip_in":0.02,"humidity":82,"cloud":50,"feelslike_c":25.2,"feelslike_f":77.3,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":7.6,"gust_kph":12.2},"forecast":{"forecastday":[{"date":"2023-04-22","date_epoch":1682121600,"day":{"maxtemp_c":30.2,"maxtemp_f":86.4,"mintemp_c":24.0,"mintemp_f":75.2,"avgtemp_c":26.2,"avgtemp_f":79.2,"maxwind_mph":13.6,"maxwind_kph":22.0,"totalprecip_mm":2.2,"totalprecip_in":0.09,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":62.0,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":6.0},"astro":{"sunrise":"06:52
        AM","sunset":"07:48 PM","moonrise":"08:27 AM","moonset":"10:34 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"4","is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1682136000,"time":"2023-04-22
        00:00","temp_c":24.6,"temp_f":76.3,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":6.3,"wind_kph":10.1,"wind_degree":133,"wind_dir":"SE","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.2,"precip_in":0.01,"humidity":68,"cloud":84,"feelslike_c":26.1,"feelslike_f":79.0,"windchill_c":24.6,"windchill_f":76.3,"heatindex_c":26.1,"heatindex_f":79.0,"dewpoint_c":18.4,"dewpoint_f":65.1,"will_it_rain":0,"chance_of_rain":60,"will_it_snow":0,"chance_of_snow":0,"vis_km":9.0,"vis_miles":5.0,"gust_mph":8.9,"gust_kph":14.4,"uv":1.0},{"time_epoch":1682139600,"time":"2023-04-22
        01:00","temp_c":24.6,"temp_f":76.3,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":5.4,"wind_kph":8.6,"wind_degree":142,"wind_dir":"SE","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.3,"precip_in":0.01,"humidity":67,"cloud":71,"feelslike_c":26.1,"feelslike_f":79.0,"windch[...]
